<!--イベント一覧ページ-->

<%= form_with url: public_events_path, method: :get do |f| %>
<div class="container event-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 event-index-logo">
      <h4>Events一覧</h4>
    </div>
    <!--表示内容-->
    <div class="col-md-8 event-index-body">
    <table class="table event-index-table">
      <!--テーブル見出し-->
      <thead>
        <tr>
          <th></th>
          <th>イベント名</th>
          <th>開催日時</th>
          <th>開催状況</th>
          <th>タグ</th>
        </tr>
      </thead>
      <!--テーブル内容-->
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <!--画像-->
          <td>
            <%= image_tag event.get_image, class: "img-50-50" %>
          </td>
          <!--リンク付きtitle-->
          <td>
            <%= link_to public_event_path(event.id) do %>
              <%= event.title %>
            <% end %>
            <br>
          </td>
          <!--開催日時-->
          <td><%= event.date_and_time.strftime("%Y/%m/%d %H:%M") %></td>
          <!--開催状況-->
          <td><%= event.hold_status_i18n %></td>
          <!--イベントタグ-->
          <td><%= event.tags.map(&:tag_name).join('/') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <!--ページネーション-->
    <%= render 'layouts/paginate', obj: @events_page %>
    </div>
    <!--検索機能リンク-->
    <div class="col-md-2 event-index-link">
      <%= render 'public/searches/search_event_date' %>
      <br>
      <%= render 'public/searches/search_event' %>
      <br>
      <strong>タグ検索</strong>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]), { prompt: '全て', class: 'free', onchange: 'submit(this.form)'} %>
    </div>
  </div>
</div>
<% end %>