<%= form_with url: public_events_path, method: :get do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>社内Events</h4>
    </div>
    <div class="col-md-8">
    <table class="table" style="table-layout: fixed; word-wrap: break-word;">
      <thead>
        <tr>
          <th></th>
          <th>イベント名</th>
          <th>開催日時</th>
          <th>開催状況</th>
          <th>タグ</th>
        </tr>
      </thead>
      <thead>
      <% @events.each do |event| %>
        <tr>
          <td>
            <%= image_tag event.get_image, size: "50x50" %>
          </td>
          <td>
            <%= link_to public_event_path(event.id) do %>
              <%= event.title %>
            <% end %>
            <br>
          </td>
          <td><%= event.date_and_time.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= event.hold_status_i18n %></td>
          <td><%= event.tags.map(&:tag_name).join('/') %></td>
        </tr>
      <% end %>
      </thead>
    </table>
    </div>
    <div class="col-md-2" style="text-align: center;">
      <%= render 'public/searches/search_event' %>
      <br>
      <strong>タグ検索</strong>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]), { prompt: '全て', class: 'free', onchange: 'submit(this.form)'} %>
      <table class="table" style="table-layout: fixed; word-wrap: break-wrap;">
        <% @tag_list.each do |list| %>
          <tr>
            <td> <%= list.tag_name %></td>
            <td><%= "(#{list.events.count})" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>