<!--イベント詳細-->

<div class="container event-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 event-show-logo">
      <h4>Event詳細</h4>
    </div>
    <!--イメージ画像-->
    <div class="col-md-8 event-show-image">
      <%= image_tag @event.get_image, size: "300x300" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <!--表示内容-->
    <div class="col-md-8 event-show-body">
      <table class="table event-show-table">
        <!--イベント名/主催者-->
        <tr>
          <th>イベント名</th>
          <td><%= @event.title %></td>
          <th>主催者</th>
          <td><%= @event.organizer %></td>
        </tr>
        <!--イベント詳細-->
        <tr>
          <th>イベント詳細</th>
          <td><%= simple_format @event.body %></td>
          <th></th>
          <th></th>
        </tr>
        <!--開催日時/開催状況-->
        <tr>
          <th>開催日時</th>
          <td><%= @event.date_and_time.strftime("%Y/%m/%d %H:%M") %></td>
          <th>開催状況</th>
          <td><%= @event.hold_status_i18n %></td>
        </tr>
        <tr>
          <th>関連タグ</th>
          <td colspan="3">
            <% @event_tags.each do |tag| %>
              <%= tag.tag_name %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>