<!--社員情報詳細-->

<div class="container employee-container">
  <!--row1-->
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 employee-show-logo">
      <h4>マイページ</h4>
    </div>
    <!--表示内容1-->
    <div class="col-md-8 employee-show-body">
      <table class="table employee-table">
        <!--氏名/在籍状況-->
        <tr>
          <th>氏名</th>
          <td><%= simple_format @employee.first_name %><%= simple_format @employee.last_name %></td>
          <th>在籍状況</th>
          <td>
            <% if @employee.is_deleted? %>
              在籍
            <% else %>
              退職済み
            <%end %>
          </td>
        </tr>
        <!--社員番号/配属先-->
        <tr>
          <th>社員番号</th>
          <td><%= simple_format @employee.employee_code %></td>
          <th>配属先</th>
          <td><%= simple_format @employee.assigned_to %></td>
        </tr>
        <!--電話番号/メールアドレス-->
        <tr>
          <th>電話番号</th>
          <td><%= simple_format @employee.phone_number %></td>
          <th>メールアドレス</th>
          <td><%= simple_format @employee.email %></td>
        </tr>
      </table>
      <br>
    </div>
    <!--注文履歴ブックマーク一覧/Q&A/編集リンク-->
    <div class="col-md-2 employee-show-link">
      <%= link_to "注文履歴", public_orders_path, class: 'btn btn-sm btn-info' %>
      <br><br>
      <%= link_to "Q&A", public_chats_path, class: 'btn btn-sm btn-secondary' %>
      <br><br>
      <%= link_to "ブクマ一覧", favorites_public_employee_path(@employee), class: 'btn btn-sm btn-warning' %>
      <br><br>
      <% if @employee.first_name != "guest" && @employee.last_name != "tarou" %>
        <%= link_to "編集", edit_public_employee_path, class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="row">
      <!--カレンダー機能-->
    <div class="col employee-show-calendar">
      <div class="errors employee-show-errors">
        <%= render 'layouts/errors', obj: @calendar %>
      </div>
      <div id="calendar">
      <%= render 'calendar', calendars: @calendars %>
      </div>
      <div id="calendar-form">
        <%= render 'calendar_form', calendar: @calendar, employee: @employee %>
      </div>
    </div>
  </div>

  <div class="row">
    <!--表示内容2-->
    <div class="col employee-show-body-2">
      <h4>投稿記事</h4>
      <% @employee.blogs.each do |blog| %>
        <br>
        <!--画像-->
        <%= image_tag blog.get_image, size: "250x250" %>
        <!--title-->
        <%= simple_format blog.title %><%= simple_format blog.body %><br><%= blog.created_at.strftime("%Y/%m/%d %H:%M") %>　閲覧数<%= blog.view_counts.count %>　<i class="fas fa-heart" style="color: red;"></i>︎<%= blog.favorites.count %><br>
      <% end %>
    </div>
  </div>

</div>