<!--社員情報詳細-->

<div class="container">
  <!--row1-->
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 employee-show-title">
      <h4>マイページ</h4>
    </div>
    <div class="col-md-2"></div>
    <!--表示内容1-->
    <div class="col-md-4 employee-show-body">
      <table class="table">
        <!--氏名-->
        <tr>
          <th>氏名</th>
          <td><%= @employee.first_name %><%= @employee.last_name %></td>
        </tr>
        <!--社員番号-->
        <tr>
          <th>社員番号</th>
          <td><%= @employee.employee_code %></td>
        </tr>
        <!--配属先-->
        <tr>
          <th>配属先</th>
          <td><%= @employee.assigned_to %></td>
        </tr>
        <!--電話番号-->
        <tr>
          <th>電話番号</th>
          <td><%= @employee.phone_number %></td>
        </tr>
        <!--メールアドレス-->
        <tr>
          <th>メールアドレス</th>
          <td><%= @employee.email %></td>
        </tr>
        <!--在籍状況-->
        <tr>
          <th>在籍状況</th>
          <td>
            <% if @employee.is_deleted? %>
              在籍
            <% else %>
              退職済み
            <%end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2"></div>
    <!--注文履歴/Q&A/編集リンク-->
    <div class="col-md-2" style="text-align: center; margin-bottom: 30px;">
      <%= link_to "注文履歴", public_orders_path, class: 'btn btn-sm btn-info' %>
      <br><br>
      <%= link_to "Q&A", public_chats_path, class: 'btn btn-sm btn-secondary' %>
      <br><br>
      <% if @employee.first_name != "guest" && @employee.last_name != "tarou" %>
        <%= link_to "編集", edit_public_employee_path, class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>

  <!--row2-->
  <div class="row">
    <div class="col-md-2"></div>
    <!--表示内容2-->
    <div class="col-md-8 employee-show-blogs" style="margin-bottom: 100px;">
      <% current_employee.blogs.each do |blog| %>
        <!--画像-->
        <%= image_tag blog.get_image, size: "150x150" %>
        <!--title-->
        <%= blog.title %>
      <% end %>
    </div>
  </div>

</div>