<!--製品詳細ページ-->

<%= form_with model: @cart_item, url: public_cart_items_path, local: true, method: :post do |f| %>
<div class="container product-container">
  <div class="row">
    <!--見出し1-->
    <div class="col-md-2 product-show-logo">
      <h4>製品詳細</h4>
    </div>
    <!--表示内容1-->
    <div class="col-md-8 product-show-body">
      <!--画像-->
      <%= image_tag @product.get_image, size: "300x300" %>
    </div>
    <!--表示内容2-->
    <div class="col-md-2 product-show-body-2">
      <% if @product.is_active? %>
        <storng>社内販売</storng><br>
        <% if employee_signed_in? %>
          <%= f.hidden_field :employee_id, value: current_employee.id %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.select :quantity, *[1..10] %>
          <%= f.submit "注文", class: 'btn btn-sm btn-secondary' %>
        <% else %>
          <%= f.submit "ログインが必要です" %>
        <% end %>
      <% else %>
      <%= link_to "この製品は現在取扱いしておりません。", public_products_path, class: "btn btn-sm btn-secondary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <!--見出し2-->
    <div class="col-md-2 product-show-logo-2">
      <h4>製品概要</h4>
    </div>
    <!--表示内容3-->
    <div class="col-md-8 product-show-body-3">
      <table class="table product-show-table">
        <!--製品名/税込価格-->
        <tr>
          <th>製品名</th>
          <td><%= @product.name %></td>
          <th>税抜(税込)価格</th>
          <td><%= @product.with_tax_price %> 円</td>
        </tr>
        <!--製品説明-->
        <tr>
          <th>製品説明</th>
          <td colspan="3"><%= simple_format @product.caption %></td>
        </tr>
        <!--製造日/販売状況-->
        <tr>
          <th>製造日</th>
          <td><%= @product.make_day %></td>
          <th>販売状況</th>
          <td><%= @product.is_active == true ? "販売中" : "非公開" %></td>
        </tr>
        <!--関連タグ-->
        <tr>
          <th>関連タグ</th>
          <td colspan="3">
            <% @product_tags.each do |tag| %>
              <%= tag.tag_name %> /
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% end %>