<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>製品詳細</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <%= image_tag @product.get_image, size: "300x300" %>
    </div>
    <% if employee_signed_in? %>
    <div class="col-md-2" style="text-align: center; margin-top: 20px;">
      注文個数<br>
      注文カゴに入れる
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-2" style="text-align: center; margin-top: 50px;">
      <h4>製品概要</h4>
    </div>
    <div class="col-md-8" style="margin-top: 50px;">
      <table class="table" style="table-layout: fixed; word-wrap: break-word;">
        <tr>
          <th>製品名</th>
          <td><%= @product.name %></td>
          <th>税抜(税込)価格</th>
          <td></td>
        </tr>
        <tr>
          <th>製品詳細</th>
          <td colspan="3"><%= simple_format @product.caption %></td>
        </tr>
        <tr>
          <th>製造日</th>
          <td><%= @product.make_day %></td>
          <th>販売状況</th>
          <td><%= @product.is_active == true ? "販売中" : "非公開" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>