<!--イベント一覧管理-->

<%= form_with url: admin_events_path, method: :get do %>
<div class="container event-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 event-index-logo">
      <h4>Events</h4>
    </div>
    <!--内容表示-->
    <div class="col-md-8 event-index-body">
      <table class="table event-table">
        <!--テーブル見出し-->
        <thead>
          <tr>
            <th></th>
            <th>イベント名</th>
            <th>開催日時</th>
            <th>開催状況</th>
            <th>タグ</th>
            <th></th>
          </tr>
        </thead>
        <% @events.each do |event| %>
        <!--テーブル内容表示-->
        <tbody>
          <tr>
            <!--画像-->
            <td><%= image_tag event.get_image, size: "50x50" %></td>
            <!--リンク付きtitle-->
            <td>
              <%= link_to admin_event_path(event) do %>
                <%= event.title %>
              <% end %>
              </td>
              <!--開催日時-->
            <td><%= event.date_and_time.strftime("%Y/%m/%d %H:%M") %></td>
            <!--開催状況-->
            <td><%= event.hold_status_i18n %></td>
            <!--イベントタグ-->
            <td><%= event.tags.map(&:tag_name).join('/') %></td>
            <!--削除リンク-->
            <td><%= link_to "削除", admin_event_path(event.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <%= render 'layouts/paginate', obj: @events_page %>
    </div>
    <!--リンク-->
    <div class="col-md-2 event-index-link">
      <%= link_to "記事登録", new_admin_event_path, class: 'btn btn-info btn-sm' %>
      <br><br>
      <%= link_to "タグ管理", admin_tags_path, class: 'btn btn-success btn-sm' %>
      <br><br>
      <%= render 'admin/searches/search_event' %>
      <br><br>
      <table class="table event-table">
      <!--タグ検索機能-->
      <%= link_to admin_tags_path do %>
        <strong>タグ検索</strong>
      <% end %>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]), { prompt: '全て', class: 'free', onchange: 'submit(this.form)'} %>
      </table>
    </div>
  </div>
</div>
<% end %>