<%= form_with url: admin_events_path, method: :get do %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>Events</h4>
    </div>
    <div class="col-md-8">
      <table class="table" style="table-layout: fixed; word-wrap: break-word;">
        <thead>
          <tr>
            <th></th>
            <th>イベント名</th>
            <th>開催日時</th>
            <th>開催状況</th>
            <th>タグ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= image_tag event.get_image, size: "50x50" %></td>
            <td>
              <%= link_to admin_event_path(event) do %>
                <%= event.title %>
              <% end %>
              </td>
            <td><%= event.date_and_time.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= event.hold_status_i18n %></td>
            <td><%= event.tags.map(&:tag_name).join('/') %></td>
            <td><%= link_to "削除", admin_event_path(event.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-2" style="text-align: center;">
      <%= link_to "記事登録", new_admin_event_path, class: 'btn btn-info btn-sm' %>
      <br><br>
      <%= link_to "タグ管理", admin_tags_path, class: 'btn btn-success btn-sm' %>
      <br><br>
      <table class="table" style="table-layout: fixed; word-wrap: break-word;">
      <%= link_to admin_tags_path do %>
        <strong>タグ検索</strong>
      <% end %>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]), { prompt: '全て', class: 'free', onchange: 'submit(this.form)'} %>
      <br>
      <% @tag_list.each do |list| %>
      <tr>
        <td><%= list.tag_name %></td>
        <td><%= "(#{list.events.count})" %></td>
      </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>