<!--イベント新規作成ページ-->

<%= form_with model: @event, url: admin_events_path do |f| %>
<div class="container event-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 event-new-logo">
      <h4>イベント<br>新規作成</h4>
    </div>
    <!--入力内容1-->
    <div class="col-md-8 event-new-body">
        <!--title-->
        <div class="field">
          <%= f.label "タイトル" %>
          <br>
          <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "必ず入力してください", size: "50" %>
        </div>
        <br>
        <!--body-->
        <div class="field">
          <%= f.label "投稿内容" %>
          <br>
          <%= f.text_area :body, autocomplete: "body", placeholder: "必ず入力してください", size: "50x10" %>
        </div>
        <br>
        <!--tag-->
        <div class="field">
          <%= f.label "タグ" %>
          <br>
          <%= f.text_field :tag_name, value: @tag_list, placeholder: ",で区切ると複数登録できます", size: '50' %>
        </div>
        <br>
        <!--画像-->
        <div class="field">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
    </div>
    <!--入力内容2-->
    <div class="col-md-2">
      <!--主催者-->
      <div class="field">
        <%= f.label "主催者" %>
        <br>
        <%= f.text_field :organizer, autocomplete: "organizer", placeholder: "必ず入力してください", size: "20" %>
      </div>
      <br>
      <!--開催日時-->
      <div class="field">
        <%= f.label "開催日時" %>
        <br><br>
        <%= f.datetime_field :date_and_time, autocomplete: "date_and_time" %>
      </div>
      <!--開催状況-->
      <div class="field">
        <%= f.hidden_field :hold_status, value: "no_hold" %>
      </div>
    </div>
    <!--submit 投稿-->
  </div>
    <div class="event-new-submit">
      <%= f.submit "投稿", class: 'btn btn-sm btn-success' %>
      <!--エラーメッセージ-->
      <div class="event-error">
        <%= render 'layouts/errors', obj: @event %>
      </div>
    </div>
</div>
<% end %>