<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>Events</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <%= image_tag @event.get_image, size: "300x300" %>
      <table class="table" style="margin-top: 20px;">
        <thead>
          <tr>
            <th>イベント名</th>
            <td><%= @event.title %></td>
            <th>主催者</th>
            <td><%= @event.organizer %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>イベント詳細</th>
            <td><%= simple_format @event.body %></td>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>イベント日時</th>
            <td><%= @event.date_and_time.strftime("%Y/%m/%d %H:%M") %></td>
            <th></th>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div>
        <br>
      </div>
    </div>
    <div class="col-md-2" style="text-align: center;">
      <% if admin_signed_in?%>
        <%= link_to edit_admin_event_path(@event.id), class: 'btn btn-sm btn-success' do %>
          編集
        <% end %>
        <br>
        <br>
        <%= link_to admin_event_path(@event.id), method: :delete, class: 'btn btn-sm btn-danger' do %>
          削除
        <% end %>
      <% end %>
    </div>
  </div>
</div>