<%= form_with model: @admin, url: new_admin_session_path do |f| %>
<div class="container sessions-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-3 sessions-new-logo">
      <h4>管理者ログイン</h4>
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
    <!--表示内容-->
    <div class="col-md-6 sessions-new-body">
      <strong>
        こちらは管理者用のログインページでございます。<br>主にユーザーが投稿したものをこちらで管理できるようにしています。
        <br><br>
        <span class="sessions-field-color">*</span>は入力必須項目です
      </strong>

      <br><br>

      <div class="field">
        <span class="sessions-field-color">*</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", size: "40" %>
      </div>
      <br>
      <div class="field">
        <span class="sessions-field-color">*</span>
        <%= f.password_field :password, autocomplete: "current-password",placeholder: "パスワード", size: "40" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>

    </div>
  </div>
</div>
<% end %>
