<%= form_with url: public_notices_path, method: :get do |f| %>
<div class="search-form">
  <%= f.text_field :word, size: "30" %>
  <%= f.select :range, options_for_select([['Employee'],['Blog']]) %>
  <%= f.select :search_blogs, options_for_select([["完全一致", "perfect_match"], ["前方一致", "forword_match"], ["後方一致", "backword_match"], ["部分一致", "partial_match"]]) %>
  <%= f.submit "検索", class: 'btn btn-sm btn-primary' %>
</div>
<% end %>