<!--ブログ編集ページ-->

<%= form_with model: @blog, url: public_blog_path(@blog.id) do |f| %>
<div class="container blog-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2" style="text-align: center;">
      <h4>ブログ内容<br>編集</h4>
    </div>
    <!--編集内容-->
    <div class="col-md-8" style="text-align: center; margin-bottom :30px;">
      <!--title-->
      <div class="field">
        <strong>タイトル</strong><br>
        <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "題名", size: "50" %>
      </div>
      <br>
      <!--body-->
      <div class="field">
        <strong>内容</strong><br>
        <%= f.text_area :body, autocomplete: "body", placeholder: "内容", size: "50x20" %>
      </div>
      <br>
      <!--画像-->
      <div class="field">
        <strong>画像</strong><br>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <br>
      <!--submit 更新-->
      <div class="field">
        <%= f.submit "更新", class: 'btn btn-sm btn-info' %>
      </div>
    </div>
  </div>
</div>
<% end %>