<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>社員Blog<br>一覧</h4><br>全<%= @blogs.count %>件<br>
    </div>
    <div class="col-md-8">
    <table class="table" style="table-layout: fixed; word-wrap: break-word;">
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>投稿日時</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <thead>
      <% @blogs.each do |blog| %>
        <tr>
          <td>
              <%= image_tag blog.get_image, size: "50x50" %>
          </td>
          <td>
            <%= link_to public_blog_path(blog.id) do %>
              <%= simple_format blog.title %>
            <% end %>
          </td>
          <td><%= blog.employee.name %></td>
          <td><%= blog.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <% if employee_signed_in? %>
            <span id="favorite-btn_<%= blog.id %>">
              <%= render 'public/favorites/favorite', blog: blog, favorites: @favorites %>
            </span>
            <% else %>
              ♡<%= blog.favorites.count %>いいね
            <% end %>
          </td>
        </tr>
      </thead>
      <% end %>
    </table>
    </div>
    <% if employee_signed_in? %>
    <div class="col-md-2" style="text-align: center;">
      <%= link_to new_public_blog_path, class: 'btn btn-sm btn-info' do %>
        新規作成
      <% end %>
    <% else %>
    <% end %>
    <br>
    <br>
      <%= render 'public/searches/search_blog' %>
    </div>
  </div>
</div>