<!--ブログ一覧ページ-->

<div class="container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 blog-index-title">
      <h4>Blog一覧</h4><br>全<%= @blogs.count %>件<br>
    </div>
    <!--内容-->
    <div class="col-md-8 blog-index-body">
    <table class="table" style="table-layout: fixed; word-wrap: break-word;">
      <!--テーブル見出し-->
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>投稿日時</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <!--テーブル内容表示-->
      <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <!--画像-->
          <td>
              <%= image_tag blog.get_image, size: "50x50" %>
          </td>
          <!--リンク付き文字-->
          <td>
            <%= link_to public_blog_path(blog.id) do %>
              <%= simple_format blog.title %>
            <% end %>
          </td>
          <!--投稿者の名前-->
          <td>
            <%= blog.employee.name %>
          </td>
          <!--投稿日時-->
          <td>
            <%= blog.created_at.strftime("%Y/%m/%d %H:%M") %>
          </td>
          <!--ブックマーク-->
          <td>
            <% if employee_signed_in? %>
            <span id="favorite-btn_<%= blog.id %>" style="font-size: 14px;">
              <%= render 'public/favorites/favorite', blog: blog, favorites: @favorites %>
            </span>
            <% else %>
              ♡<%= blog.favorites.count %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    <!--リンク-->
    <div class="col-md-2" style="text-align: center; margin-bottom: 30px;">
      <% if employee_signed_in? %>
        <%= link_to "新規登録", new_public_blog_path, class: 'btn btn-sm btn-info' %>
      <% end %>
    <br>
    <br>
      <%= render 'public/searches/search_blog' %>
    </div>
  </div>
  <!--ページネーション-->
  <%= render 'layouts/paginate', obj: @blogs %>
</div>