<!--投稿機能 チャット一覧上部に表示するフォームを設置-->

<%= form_with model: chat, url: public_chats_path, method: :post, remote: true, local: false do |f| %>
  <div class="row">
    <!--見出し-->
    <div class="col-md-2">
      <h4>Q＆A</h4>
    </div>
    <!--入力内容-->
    <div class="col-md-8">
        <!--title-->
        <div class="field">
          <%= f.label "題名" %>
          <br>
          <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "必ずご入力ください", size: "50" %>
        </div>
        <!--body-->
        <div class="field" style="margin-top: 20px;">
          <%= f.label "質問内容" %>
          <br>
          <%= f.text_area :body, autocomplete: "body", placeholder: "できるだけ詳細にご記入ください", size: "50x5" %>
        </div>
        <!--submit 投稿-->
        <div class="field" style="margin-top: 30px; margin-bottom: 30px;">
          <%= f.submit "投稿", class: 'btn btn-sm btn-success' %>
        </div>
    </div>
    <!--エラーメッセージ表示-->
    <div class="col-md-2">
      <div class="errors">
        <%= render 'layouts/errors', obj: chat %>
      </div>
    </div>
  </div>
<% end %>