<!--Q＆A詳細ページ-->

<div class="container">
  <div class="row">
    <!--上部見出し-->
    <div class="col-md-2 chat-show-title">
      <h4><%= @chat.employee.name %><br>さんとの<br>チャット</h4>
    </div>
    <!--上部表示内容-->
    <div class="col-md-8">
      <!--詳細見出し-->
      <div class="box" style="padding-top: 10px; text-align: center; border: 1px solid rgba(0 , 0, 0, 0.2); background-color: rgba(255,255,255,0.5);">
        <!--chat title-->
        <span><%= simple_format @chat.title %></span>
        <!--chat body-->
        <strong><%= simple_format @chat.body %></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <!--下部見出し-->
    <div class="col-md-2" style="text-align: center; margin-top: 50px;">
      <p>メッセージ全<%= @chat.chat_messages.count %>件</p>
    </div>
    <!--下部表示内容-->
    <div class="col-md-8" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
      <!--コメントを表示させたいテーブルリンク-->
      <div id="comments_area">
        <%= render 'public/chat_messages/comments', chat: @chat %>
      </div>
      <!--コメント入力のフォームリンク-->
      <div class="new-comment">
        <%= render 'public/chat_messages/form', chat: @chat, chat_message: @chat_message %>
      </div>
    </div>
  </div>
</div>
