<%= month_calendar do |date, calendars| %>
  <div class="simple-calendar">
  <%= date.day %>
  <% calendars.each do |calendar| %>
    <%= calendar.title %>
    <%= calendar.content %>
    <%= calendar.start_time %>
  <% end %>
  </div>
<% end %>
<%= form_with model: calendar, url: public_employee_calendars_path(employee), remote: true, method: :post do |f| %>
<%= f.text_field :title, autocomplete: "content", placeholder: "予定の題名" %>
<%= f.text_field :content, autocomplete: "content", placeholder: "予定を入力してください" %>
<%= f.datetime_field :start_time %>
<%= f.submit "予定作成", class: 'btn btn-sm btn-success' %>
<% end %>