<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4><%= @calendar.start_time.strftime("%Y/%m/%d") %><br>の予定</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <div class="box" style="border: 1px solid #fff; background-color: rgba(255,255,255,0.5);">
        <strong>タイトル</strong>
        <p><%= simple_format @calendar.title %></p>
      </div>
      <br>
      <div class="box" style="border: 1px solid #fff; background-color: rgba(255,255,255,0.5);">
        <strong>内容</strong>
        <p><%= simple_format @calendar.content %></p>
      </div>
      <br>
      <div class="box" style="border: 1px solid #fff; background-color: rgba(255,255,255,0.5);">
        <strong>開始時刻</strong>
        <p><%= @calendar.start_time.strftime("%Y/%m/%d %H:%M") %>〜</p>
      </div>
      <br>
    </div>
    <div class="col-md-2" style="margin-bottom: 30px; text-align: center;">
      <%= link_to "削除", public_calendar_path(@calendar), method: :delete, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>