<!--news一覧-->

<div class="container notice-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 notice-index-logo">
      <h4>News</h4>
    </div>
    <!--表示内容-->
    <div class="col-md-8 notice-index-body">
      <table class="table notice-index-table">
        <!--テーブル見出し-->
        <thead>
          <tr>
            <th></th>
            <th>題名</th>
            <th>投稿日時</th>
          </tr>
        </thead>
        <!--テーブル内容-->
        <% @notices.each do |notice| %>
        <tbody>
          <tr>
            <!--画像-->
            <td><%= image_tag notice.get_image, class: "img-50-50" %></td>
            <!--リンク付きtitle-->
            <td>
              <%= link_to public_notice_path(notice) do %>
                <%= simple_format notice.title %>
              <% end %>
            </td>
            <!--投稿日時-->
            <td><%= notice.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <!--検索機能リンク-->
    <div class="col-md-2 notice-index-link">
      <%= render 'public/searches/search_notice' %>
    </div>
  </div>
  <!--ページネーション-->
  <div class="pagination">
    <%= render 'layouts/paginate', obj: @notices %>
  </div>
</div>