<%= form_with model: @product, url: admin_product_path(@product.id) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>製品情報編集</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <div class="field">
        <%= f.label "製品名" %>
        <br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "製品名を入力してください", size: "50" %>
      </div>
      <br>
      <div class="field">
        <%= f.label "製品説明" %>
        <br>
        <%= f.text_area :caption, autocomplete: "caption", placeholder: "製品詳細を記載してください", size: "50x5" %>
      </div>
      <br>
      <div class="field">
        <%= f.label "タグ" %>
        <br>
        <%= f.text_field :tag_name, value: @tag_list,  placeholder: ",で区切ると複数登録できます", size: "50" %>
      </div>
      <br>
      <div class="field">
        <%= f.label "税抜価格" %>
        <br>
        <%= f.text_field :price, autocomplete: "price", placeholder: "円", size: "10" %>
      </div>
      <br>
      <div class="field">
        <%= f.label "製品画像" %>
        <br>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <br>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label "販売ステータス" %>
        <br>
        <%= f.select :is_active, [['非公開',0], ['販売中', 1]], { selected: 0 } %>
      </div>
      <br>
      <div class="field">
        <%= f.label "製造日" %>
        <br>
        <%= f.date_field :make_day, autocomplete: "make_day" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center;">
      <div class="field">
        <%= f.submit "登録", class: 'btn btn-sm btn-success' %>
      </div>
      <div class="errors">
        <%= render 'layouts/errors', obj: @product %>
      </div>
    </div>
  </div>
</div>
<% end %>