<div class="container product-container">
  <div class="row">
    <!--見出し1-->
    <div class="col-md-2 product-show-logo">
      <h4>製品詳細</h4>
    </div>
    <!--表示内容1-->
    <div class="col-md-8 product-show-image">
      <%= image_tag @product.get_image, size: "300x300" %>
    </div>
    <!--削除/編集リンク-->
    <div class="col-md-2 product-show-link">
      <%= link_to "編集", edit_admin_product_path(@product), class: 'btn btn-sm btn-success' %>
      <br><br>
      <%= link_to "削除", admin_product_path(@product), method: :delete, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
  <div class="row">
    <!--見出し2-->
    <div class="col-md-2 product-show-logo-2">
      <h4>製品概要</h4>
    </div>
    <!--表示内容2-->
    <div class="col-md-8 product-show-body-2">
      <table class="table product-table">
        <tr>
          <th>製品名</th>
          <td><%= @product.name %></td>
          <th>税抜(税込)価格</th>
          <td><%= @product.price %>(<%= @product.with_tax_price.to_s(:dalimited) %>)円</td>
        </tr>
        <tr>
          <th>製品詳細</th>
          <td colspan="3"><%= simple_format @product.caption %></td>
        </tr>
        <tr>
          <th>製造日</th>
          <td><%= @product.make_day %></td>
          <th>販売状況</th>
          <td><%= @product.is_active == true ? "販売中" : "非公開" %></td>
        </tr>
        <tr>
          <th>関連タグ</th>
          <td colspan="3">
            <% @product_tags.each do |tag| %>
              <%= tag.tag_name %> /
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
