<%= form_with model: [chat, chat_message], url: public_chat_chat_messages_path(chat), local: false, remote: true, method: :post do |f| %>
  <%= f.text_area :message, autofocus: true, autocomplete: "message", placeholder: "コメント", size: "50" %>
  <%= f.hidden_field :employee_id, value: current_employee.id %>
  <%= f.hidden_field :chat_id, value: chat.id %>
  <br>
  <%= f.submit "送信", class: 'btn btn-sm btn-info chat-btn' %>
<div class="errors">
  <%= render 'layouts/errors', obj: chat_message %>
</div>
<% end %>
