<%= form_with model: [chat, chat_message], url: public_chat_path(chat), local: false, remote: true do |f| %>
  <%= f.text_area :message, autofocus: true, autocomplete: "message", placeholder: "コメント", size: "50" %>
  <%= f.hidden_field :employee_id %>
  <%= f.hidden_field :chat_id %>
  <br>
  <%= f.submit "送信", class: 'btn btn-sm btn-info chat-btn' %>
<% end %>

<div class="errors">
  <%= render 'layouts/errors', obj: chat_message %>
</div>