<%= form_with model: @order_new, url: public_orders_confirm_path, local: false do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>注文情報入力</h4><br>
      <p class="btn-info">入力</p>
      <span>↓</span>
      <p>確認</p>
      <span>↓</span>
      <p>完了</p>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6" style="text-align: center;">
      <table class="table" style="table-layout: fixed; word-wrap: break-word;">
        <tr>
          <th>支払方法</th>
          <td>
            <%= f.radio_button :peyment_method, :receive_counter %>
            <%= f.label "窓口受取" %>
            <br>
            <%= f.radio_button :payment_method, :delivery %>
            <%= f.label "部署に配達" %>
          </td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td><%= current_employee.assigned_to %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% end %>