<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>注文履歴詳細</h4>
    </div>
    <div class="col-md-7">
      <table class="table" style="table-layout: fixed; word-wrap: break-word;">
        <thead>
          <tr>
            <th></th>
            <th>製品名</th>
            <th>価格(税込)</th>
            <th>注文個数</th>
          </tr>
        </thead>
        <thead>
          <% @order.product_orders.each do |product_order| %>
          <tr>
            <td><%= image_tag product_order.product.image, size: "50x50" %></td>
            <td><%= product_order.product.name %></td>
            <td><%= product_order.product.with_tax_price %> 円</td>
            <td><%= product_order.quantity %></td>
          </tr>
         <% end %>
        </thead>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table" style="table-layout: fixed; word-wrap: beak-word;">
        <tr>
          <th>合計金額</th>
          <td><%= @total %> 円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %> 円</td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%= @order.billing_amount %> 円</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col" style="margin-top: 50px; text-align: center;">
      <div class="status">
        <strong>注文状況</strong><br>
        <%= @order.status_i18n %>
      </div>
      <br>
      <div class="payment_method">
        <strong>受取方法</strong><br>
          <%= @order.payment_method_i18n %>
      </div>
    </div>
  </div>
</div>