<!--注文履歴詳細ページ-->

<div class="container order-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 order-show-logo">
      <h4>注文履歴詳細</h4>
    </div>
    <!--内容表示1-->
    <div class="col-md-7">
      <table class="table order-show-table">
        <!--テーブル見出し-->
        <thead>
          <tr>
            <th></th>
            <th>製品名</th>
            <th>価格(税込)</th>
            <th>注文個数</th>
          </tr>
        </thead>
        <!--テーブル内容表示-->
        <tbody>
          <% @order.product_orders.each do |product_order| %>
          <tr>
            <!--製品画像-->
            <td><%= image_tag product_order.product.image, size: "50x50" %></td>
            <!--製品名-->
            <td><%= product_order.product.name %></td>
            <!--税込価格-->
            <td><%= product_order.product.with_tax_price %> 円</td>
            <!--注文数-->
            <td><%= product_order.quantity %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
    <!--内容表示2-->
    <div class="col-md-3">
      <table class="table order-show-table">
        <!--合計金額-->
        <tr>
          <th>合計金額</th>
          <td><%= @total %> 円</td>
        </tr>
        <!--送料-->
        <tr>
          <th>送料</th>
          <td><%= @order.postage %> 円</td>
        </tr>
        <!--請求金額-->
        <tr>
          <th>請求金額</th>
          <td><%= @order.billing_amount %> 円</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <!--表示内容3-->
    <div class="col order-show-body">
      <!--配送状況-->
      <div class="status">
        <strong>配送状況</strong>
        <br>
        <%= @order.status_i18n %>
      </div>
      <br>
      <!--製造状況-->
      <div class="making_status">
        <strong>製造状況</strong>
        <br>
        <% @product_orders.each do |product_order| %>
          <%= product_order.making_status_i18n %>
        <% end %>
      </div>
      <br>
      <!--受取方法-->
      <div class="payment_method">
        <strong>受取方法</strong><br>
          <%= @order.payment_method_i18n %>
      </div>
    </div>
  </div>
</div>