<!--ブログ詳細ページ-->

<div class="container blog-container">
  <div class="row">
    <!--見出し-->
    <div class="col-md-2 blog-show-logo">
      <h4><%= @blog.employee.name %></h4>
    </div>
    <!--内容表示-->
    <div class="col-md-8 blog-show-body">
      <!--画像-->
      <%= image_tag @blog.get_image, class: "img-300-300" %>
      <br>
      <br>
      <!--title-->
      <strong><%= @blog.title %></strong>
      <br>
      <br>
      <!--body-->
      <div style="border-top: 1px solid #000000;">
        <br>
        <h6>
          <%= simple_format @blog.body %>
        </h6>
      </div>
      <br>
      <!--ブクマ数-->
      <div class="favorite-count">♡︎<%= @blog.favorites.count %></div>
      <br>
      <!--閲覧数-->
      <div class="view-count">閲覧数: <%= @blog.view_counts.count %></div>
    </div>
    <!--削除リンク-->
    <div class="col-md-2 blog-show-link">
      <%= link_to "削除", admin_blog_path(@blog), method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>