<!--news編集ページ-->

<%=form_with model: @notice, url: admin_notice_path(@notice.id) do |f| %>
  <div class="container notice-container">
    <div class="row">
      <!--見出し-->
      <div class="col-md-2 notice-edit-logo">
        <h4>News編集</h4>
      </div>
      <!--入力内容1-->
      <div class="col-md-8 notice-edit-body">
        <table>
          <!--title-->
          <div class="field">
            <%= f.label "タイトル" %>
            <br>
            <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "タイトル", size: "50" %>
          </div>
          <!--body-->
          <div class="field">
            <%= f.label "記事" %>
            <br>
            <%= f.text_area :body, autocomplete: "body", placeholder: "投稿内容", size: "50x10" %>
          </div>
        </table>
      </div>
      <!--入力内容2-->
      <div class="col-md-2 notice-edit-body">
        <!--caption-->
        <div class="field">
          <%= f.label "補足" %>
          <%= f.text_area :caption, autocomplete: "caption", size: "20x3" %>
        </div>
      </div>
    </div>
    <div class="row">
      <!--入力内容3-->
      <div class="col notice-edit-body-3">
      <!--submit 更新-->
        <div class="field">
          <%= f.submit "更新", class: "btn btn-sm btn-success" %>
          <%= render "layouts/errors", obj: @notice %>
        </div>
      </div>
    </div>
  </div>
<% end %>