<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>News</h4>
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>題名</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <% @notices.each do |notice| %>
        <tbody>
          <tr>
            <td><%= image_tag notice.get_image, size: "50x50" %></td>
            <td>
              <%= link_to admin_notice_path(notice) do %>
              <%= notice.title %>
              <% end %>
            </td>
            <td><%= notice.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td>
              <% if admin_signed_in? %>
                <%= link_to admin_notice_path(notice), method: :delete, class: 'btn btn-sm btn-danger' do %>
                  削除
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <% if admin_signed_in? %>
      <div class="col-md-2">
        <%= link_to new_admin_notice_path, class: 'btn btn-success btn-sm' do %>
          新規作成
        <% end %>
      <% end %>
    </div>
  </div>
</div>