<%= form_with model: @notice, url: admin_notices_path do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>NEWS作成</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <table>
        <div class="field">
          <%= f.label "タイトル" %>
          <br>
          <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "タイトル", size: "50" %>
        </div>
        <div class="field">
          <%= f.label "記事" %>
          <br>
          <%= f.text_area :body, autocomplete: "body", placeholder: "投稿内容", size: "50x10" %>
        </div>
      </table>
    </div>
    <div class="col-md-2" style="text-align:left;">
      <div class="field">
        <%= f.label "補足" %>
        <%= f.text_area :caption, autocomplete: "caption", size: "20x3" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center; margin-top: 20px;">
      <div class="field">
        <%= f.submit "作成", class: 'btn btn-sm btn-success' %>
      </div>
      <div class="errors">
        <%= render "layouts/errors", obj: @notice %>
       </div>
    </div>
  </div>
</div>
<% end %>