<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>NEWS</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <%= image_tag @notice.get_image, size: "300x300" %>
      <br>
      <br>
      <strong><%= @notice.title %></strong>
      <br>
      <br>
      <div style="border-top: 1px solid #000000;">
        <br>
        <h6><%= simple_format @notice.body %></h6>
      </div>
      <div>
        <br>
        <span>※<%= simple_format @notice.caption %></span>
      </div>
    </div>
    <div class="col-md-2" style="text-align: center;">
      <% if admin_signed_in?%>
        <%= link_to edit_admin_notice_path(@notice.id), class: 'btn btn-sm btn-success' do %>
          編集
        <% end %>
        <br>
        <br>
        <%= link_to admin_notice_path(@notice.id), method: :delete, class: 'btn btn-sm btn-danger' do %>
          削除
        <% end %>
      <% end %>
    </div>
  </div>
</div>