<!--footer-->

  <div class="row">
    <!--アプリロゴ-->
    <div class="col footer-title">
      <h2 class="footer-title-logo">Kizuna</h2>
      <h6>ACom.inc</h6>
    </div>
  </div>
    <!--リンク集-->
  <div class="row footer-background-color">
    <div class="col-md-1"></div>
    <div class="col-md-2 footer-link">
    <% if employee_signed_in? %>
      <!--マイページ-->
      <%= link_to "マイページ", public_employee_path(current_employee), class: 'text-light' %>
      <br>
      <!--お知らせ-->
      <%= link_to "お知らせ", public_notices_path, class: 'text-light' %>
      <br>
      <!--イベント-->
      <%= link_to "イベント", public_events_path, class: 'text-light' %>
      <br>
      <!--ブログ-->
      <%= link_to "ブログ", public_blogs_path, class: 'text-light' %>
      <br>
      <!--製品一覧-->
      <%= link_to "製品カタログ", public_products_path, class: 'text-light' %>
      <br>
      <!--注文状況-->
      <%= link_to "注文状況", public_cart_items_path, class: 'text-light' %>
      <br>
      <!--注文履歴-->
      <%= link_to "注文履歴", public_orders_path, class: 'text-light' %>
    <% else %>
      <!--管理者ログイン-->
      <%= link_to "管理者ログイン", new_admin_session_path, class: 'text-light' %>
      <br>
      <!--ログイン-->
      <%= link_to "ログイン", new_employee_session_path, class: 'text-light' %>
    <% end %>
    </div>
    <div class="col-md-2 footer-link"></div>
    <div class="col-md-2 footer-link">
      <!--各種問い合わせ-->
      <%= link_to "各種問い合わせ", public_chats_path, class: 'text-light' %>
      <br>
      <!--サイト概要-->
      <%= link_to "サイト概要", public_about_path, class: 'text-light' %>
      <br>
    </div>
    <div class="col-md-2 footer-link"></div>
    <div class="col-md-2 footer-link">
      <!--ログアウト-->
      <%= link_to"ログアウト", destroy_employee_session_path, method: :delete, class: 'text-light' %>
    </div>

  </div>