<!--footer-->
<div class="row">
  <!--アプリロゴ-->
  <div class="col" style="text-align: center; background-color: #000000; color: #fff; padding-top: 5px;">
    <h2 style="font-family: cursive;">Kizuna</h2>
    <h6>ACom.inc</h6>
    <i class="fab fa-twitter"></i>　<i class="fab fa-facebook-f"></i>　<i class="fab fa-instagram"></i>　<i class="fab fa-discord"></i>　<i class="fab fa-amazon"></i>　<i class="fas fa-building"></i>　<i class="fas fa-envelope"></i>　<i class="fas fa-desktop"></i>
  </div>
</div>
  <!--リンク集-->
<div class="row" style="background-color: #000000; min-height: 60vh; padding-top: 30px;">
  <div class="col-md-2"></div>
  <div class="col-md-2" style="font-size: 14px; color: #fff;">
    <!--お知らせ-->
    <%= link_to "お知らせ", public_notices_path, class: 'text-light' %>
    <br>
    <!--ブログ-->
    <%= link_to "ブログ", public_blogs_path, class: 'text-light' %>
    <br>
  <% if employee_signed_in? %>
    <!--イベント-->
    <%= link_to "イベント", public_events_path, class: 'text-light' %>
  <% end %>
  </div>
  <div class="col-md-2" style="font-size: 14px; color: #fff;">
  <% if employee_signed_in? %>
    <!--注文状況-->
    <%= link_to "注文状況", public_cart_items_path, class: 'text-light' %>
    <br>
    <!--注文履歴-->
    <%= link_to "注文履歴", public_orders_path, class: 'text-light' %>
  <% else %>
    <!--管理者ログイン-->
    <%= link_to "管理者ログイン", new_admin_session_path, class: 'text-light' %>
    <br>
    <!--ログイン-->
    <%= link_to "ログイン", new_employee_session_path, class: 'text-light' %>
  <% end %>
  </div>
  <div class="col-md-2" style="font-size: 14px; color: #fff;">
    <!--各種問い合わせ-->
    <%= link_to "各種問い合わせ", public_chats_path, class: 'text-light' %>
    <br>
    <!--サイト概要-->
    <%= link_to "サイト概要", public_about_path, class: 'text-light' %>
    <br>
  </div>
  <div class="col-md-2" style="font-size: 14px; color: #fff;">
    <!--ログアウト-->
    <%= link_to"ログアウト", destroy_employee_session_path, method: :delete, class: 'text-light' %>
    <br>
    <% if employee_signed_in? %>
    <!--マイページ-->
    <%= link_to "マイページ", public_employee_path(current_employee), class: 'text-light' %>
  <% end %>
  </div>

</div>
