<!--ヘッダー-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="line-height: 30px; background-color: rgba(0,0,0,0.3);">
  <div class="container-fluid">
    <!--ロゴ-->
    <a class="navbar-brand header-logo" href="/public">
      <span>Kizuna</span>
    </a>
    <!--ボタン-->
    <button class="navbar-toggler" style="button" data-toggle="collapse"
    data-target="#navbarNavList"
    aria-controls="navbarNavList"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--リンク集-->
    <div class="collapse navbar-collapse" id="navbarNavList">
      <ul class="navbar-nav ml-auto header-link">

        <% if employee_signed_in? %>
          <!--マイページリンク-->
          <li class="header-li-1">
            <%= link_to "MY PAGE", public_employee_path(current_employee), class: 'nav-link text-dark'%>
          </li>
          <!--NEWSリンク-->
          <li class="header-li-2">
            <%= link_to "NEWS", public_notices_path, class: 'nav-link text-dark' %>
          </li>
          <!--EVENTSリンク-->
          <li class="header-li-2">
            <%= link_to "EVENTS", public_events_path, class: 'nav-link text-dark' %>
          </li>
          <!--BLOGSリンク-->
          <li class="header-li-2">
            <%= link_to "BLOGS", public_blogs_path, class: 'nav-link text-dark' %>
          </li>
          <!--PRODUCTSリンク-->
          <li class="header-li-2">
            <%= link_to "PRODUCTS", public_products_path, class: 'nav-link text-dark' %>
          </li>
          <!--Q&Aリンク-->
          <li class="header-li-2">
            <%= link_to "Q & A", public_chats_path, class: 'nav-link text-dark' %>
          </li>
          <!--ログアウトリンク-->
          <li class="header-li-3">
            <%= link_to destroy_employee_session_path, method: :delete, class: 'nav-link text-dark' do %>
              LOG OUT
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>

        <% elsif admin_signed_in? %>
        <!--社員一覧リンク-->
          <li class="header-li-1">
            <%= link_to "EMPLOYEES", admin_employees_path, class: 'nav-link text-dark' %>
          </li>
          <!--NEWSリンク-->
          <li class="header-li-2">
            <%= link_to "NEWS", admin_notices_path, class: 'nav-link text-dark' %>
          </li>
          <!--EVENTSリンク-->
          <li class="header-li-2">
            <%= link_to "EVENTS", admin_events_path, class: 'nav-link text-dark' %>
          </li>
          <!--BLOGSリンク-->
          <li class="header-li-2">
            <%= link_to "BLOGS", admin_blogs_path, class: 'nav-link text-dark' %>
          </li>
          <!--PRODUCTSリンク-->
          <li class="header-li-2">
            <%= link_to "PRODUCTS", admin_products_path, class: 'nav-link text-dark' %>
          </li>
          <!--Q&Aリンク-->
          <li class="header-li-2">
            <%= link_to "Q & A", admin_chats_path, class: 'nav-link text-dark' %>
          </li>
          <!--ログアウトリンク-->
          <li class="header-li-3">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
              LOG OUT
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </li>

        <% else %>
          <!--NEWSリンク-->
          <li class="header-li-1">
            <%= link_to "NEWS", public_notices_path, class: 'nav-link text-dark' %>
          </li>
          <!--ABOUTリンク-->
          <li class="header-li-2">
            <%= link_to "ABOUT", public_about_path, class: 'nav-link text-dark' %>
          </li>
          <!--BLOGSリンク-->
          <li class="header-li-2">
            <%= link_to "BLOGS", public_blogs_path, class: 'nav-link text-dark' %>
          </li>
          <!--PRODUCTSリンク-->
          <li class="header-li-2">
            <%= link_to "PRODUCTS", public_products_path, class: 'nav-link text-dark' %>
          </li>
          <!--ログインリンク-->
          <li class="header-li-3">
            <%= link_to new_employee_session_path, class: 'nav-link text-dark' do %>
              LOG IN
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>