<!DOCTYPE html>
<html>
  <head>
    <title>ACom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの部分テンプレート-->
    <header style="margin-bottom: 100px;">
      <%= render "layouts/header" %>
    </header>

    <%= yield %>

    <!--フッターの部分テンプレート-->
    <footer>
      <%= render "layouts/footer" %>
    </footer>

  </body>

</html>
